* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: "lato", sans-serif;
}

body{
	max-width: 1084px;
	margin: 0 auto;


}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	
}


ul	{
	width: 214px;
	display: flex;
	justify-content: space-between;
}
a{
	transition: 300ms color ease;
	color: #181818;

}


a:hover {
	color: #BADC58;
	transition: 300ms color ease;
}

.hero-content {
height: calc(100vh - 60px);
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 



} 

.hero-content::before{
content: 'rame';
display: block;
position: absolute;
top: 60px;
bottom: 0;
left: 0;
right: 0;
background-color: #181818;
opacity: .6;
z-index: -1;
}
h1 {
	font-size: 50px;
	font-weight: 300;
}
.h1 {
	font-size: 14px;
	font-weight: bold;


}

.hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	text-align: center;
	width: 638px;
	height: 216px;

}
.hero-image{
	position: absolute;
	z-index: -2;
	width: 100%;
	height: calc(100vh - 60px);
	top: 60px;
	left: 0;
	object-fit: cover;

}
#btn { 
  background-color: #BADC58;
  color: white;
  width: 164px;
  height: 46px;
  line-height: 42px;
	border-radius: 15px;
 	top: 470px;
}

#btn:hover {
	background-color: white;
	color: #BADC58;
	transition: 300ms color ease;
}

.scroll{
	color: white;

}
.second {
font-size: 18px;
font-weight: bold;	
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
top: 91px;
}
.arrow {
position: relative;
top: 20px;
}



.hero-menu {
	display: flex;
	flex-wrap:  wrap ;
	justify-content: center;
	justify-content: space-around;	

}

.hero-menu h2 {
	font-size: 30px;
	font-weight: normal;
	justify-content: center;
	text-align: center;
	position: relative;
	bottom: 40px;
}
.hero-menu ul {
	width: 100%;
	height: 1135px;
	border-radius: 15px;
	flex-wrap: wrap;
	padding: 20px;

}
h3 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	
}
.hero-menu p {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;
	
}

#button {
	display: flex;
 background-color: white;
 color: #BADC58;
 border: 1px solid #BADC58;
  width: 164px;
  height: 46px;
  border-radius: 15px;
  text-align: center;
justify-content: center;
align-items: center;
position: relative;
top: 20px;



}

#button:hover {
	background-color: #BADC58;
	color: white;
	transition: 300ms color ease;
}


.hero-menu img {
	justify-content: center;
	align-items: center;
	align-items: center;
		display: flex;
		position: relative;
		padding-bottom: 35px;

	
	

}
.hero-menu li {
	width: 308px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
bord
		
}
.hero-menu li:hover {
	transition: 200ms;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px #707070;
  background-color: #ffffff;
}


.h3 {
	display: flex;
	justify-content: center;
	align-content: space-around;
	padding-bottom: 24px;
}
.hero-menu {
	border: 1px solid #707070;
	width: 100%;
	box-shadow: 0px 3px 6px 0px #707070;
	display: flex;
	background-color: #ffffff;
	flex-wrap:  wrap;
	justify-content: center;
	justify-content: space-around;


}
.hero-menu::before {
	content: '';
	display: block;
	width: 100%;
	height: 55px;
	position: relative;
	top: -55px;
	background-color: #FFF;
	border-top-left-radius:20px;
	border-top-right-radius: 20px;
}
.hero-menu::after {
	content: '';
	display: block;
	width:  100%;
	height: 56px;
	background-color: #fff;
	position: relative;
	bottom: -55px;
	z-index: 5;
	border-bottom-right-radius:20px;
	border-bottom-left-radius: 20px;
}
footer {
	background-color: #292C2F;
	position: absolute;
	width: 100%;
	height: 557px;
	left: 0;
	justify-content: center;
	align-items: center;
}
footer p {
	color:#F59A63; 
	border-radius: 15px;
	background-color: white;
	width: 1084px;
	height: 60px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 90px;

}
iframe {
	width: 1084px;
	height: 290px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 20px;
}

.hero-logos {
	display: flex;
	justify-content: center;
	align-items: center;
}
.smart {
	margin: 0 auto;
	position: relative; 
	right: 475px;
	top: 20px;
}
.hero-logos1 {
	position: relative;
	bottom: 13px;
	width: 86px;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;

}
.cards	{
position: relative;
left: 517px;
bottom: 39px;
}




